.custom-button {
    border-radius: 30pt;
}

.full-body {
    width: 100vw;
    height: 100vh;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.center-flex {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-row {
    width: 100%;
}

.waves-input-wrapper {
    padding: 0 10pt 10pt 10pt;
}